In [8]:
import pandas as pd

SyntaxError: invalid syntax (<ipython-input-8-e8661749590f>, line 2)

In [10]:
diversityindex = "diversityindex.csv"
diversity_pd = pd.read_csv(diversityindex)
diversity_pd.head()

,Location,Diversity-Index,"Black or African American alone, percent, 2013","American Indian and Alaska Native alone, percent, 2013","Asian alone, percent, 2013","Native Hawaiian and Other Pacific Islander alone, percent,","Two or More Races, percent, 2013","Hispanic or Latino, percent, 2013","White alone, not Hispanic or Latino, percent, 2013"
0,"Aleutians West Census Area, AK",0.769346,7.4,13.8,31.1,2.3,4.8,14.6,29.2
1,"Queens County, NY",0.742224,20.9,1.3,25.2,0.2,2.7,28.0,26.7
2,"Maui County, HI",0.740757,0.8,0.6,28.8,10.6,23.3,10.7,31.5
3,"Alameda County, CA",0.740399,12.4,1.2,28.2,1.0,5.2,22.7,33.2
4,"Aleutians East Borough, AK",0.738867,7.7,21.8,41.4,0.7,3.7,13.5,12.9

In [4]:
education = "Education.csv"
education_pd = pd.read_csv(education)
education_pd.head()

,FIPS Code,State,Area name,"Less than a high school diploma, 2011-2015","High school diploma only, 2011-2015","Some college or associate's degree, 2011-2015","Bachelor's degree or higher, 2011-2015","Percent of adults with less than a high school diploma, 2011-2015","Percent of adults with a high school diploma only, 2011-2015","Percent of adults completing some college or associate's degree, 2011-2015","Percent of adults with a bachelor's degree or higher, 2011-2015"
0,0,US,United States,"28,229,094","58,722,528","61,558,628","62,952,272",13.3,27.8,29.1,29.8
1,1000,AL,Alabama,"509,891","1,005,295","962,515","761,650",15.7,31.0,29.7,23.5
2,1001,AL,Autauga County,"4,656","12,182","11,044","8,437",12.8,33.5,30.4,23.2
3,1003,AL,Baldwin County,"14,360","39,431","43,500","39,710",10.5,28.8,31.8,29.0
4,1005,AL,Barbour County,"5,021","6,490","4,943","2,354",26.7,34.5,26.3,12.5

In [9]:
unemployment = "Unemployment.csv"
unemployment_pd = pd.read_csv(unemployment)
unemployment_pd.head()

,FIPS Code,State,Area_name,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Metro_2015,Civilian_labor_force_2007,Employed_2007,Unemployed_2007,Unemployment_rate_2007,...,Civilian_labor_force_2015,Employed_2015,Unemployed_2015,Unemployment_rate_2015,Civilian_labor_force_2016,Employed_2016,Unemployed_2016,Unemployment_rate_2016,Med_Household_Income_2015,Med_HH_Income_Percent_of_State_Total_2015
0,1000,AL,Alabama,NaN,NaN,NaN,"2,175,612","2,089,127","86,485",4.0,...,"2,152,289","2,020,675","131,614",6.1,"2,168,608","2,038,775","129,833",6.0,"44,833",100.0
1,1001,AL,"Autauga County, AL",2.0,2.0,1.0,"24,383","23,577",806,3.3,...,"25,303","23,971","1,332",5.3,"25,649","24,297","1,352",5.3,"56,580",126.2
2,1003,AL,"Baldwin County, AL",3.0,2.0,1.0,"82,659","80,099","2,560",3.1,...,"87,756","82,882","4,874",5.6,"89,931","85,061","4,870",5.4,"52,387",116.8
3,1005,AL,"Barbour County, AL",6.0,6.0,0.0,"10,334","9,684",650,6.3,...,"8,646","7,881",765,8.8,"8,302","7,584",718,8.6,"31,433",70.1
4,1007,AL,"Bibb County, AL",1.0,1.0,1.0,"8,791","8,432",359,4.1,...,"8,526","7,957",569,6.7,"8,573","8,004",569,6.6,"40,767",90.9

In [13]:
unemployment_pd["Area_name"].head()

0               Alabama
1    Autauga County, AL
2    Baldwin County, AL
3    Barbour County, AL
4       Bibb County, AL
Name: Area_name, dtype: object

In [16]:
unemployment_pd["Area_name"].drop(0)

1                Autauga County, AL
2                Baldwin County, AL
3                Barbour County, AL
4                   Bibb County, AL
5                 Blount County, AL
6                Bullock County, AL
7                 Butler County, AL
8                Calhoun County, AL
9               Chambers County, AL
10              Cherokee County, AL
11               Chilton County, AL
12               Choctaw County, AL
13                Clarke County, AL
14                  Clay County, AL
15              Cleburne County, AL
16                Coffee County, AL
17               Colbert County, AL
18               Conecuh County, AL
19                 Coosa County, AL
20             Covington County, AL
21              Crenshaw County, AL
22               Cullman County, AL
23                  Dale County, AL
24                Dallas County, AL
25                DeKalb County, AL
26                Elmore County, AL
27              Escambia County, AL
28                Etowah County, AL
29               Fayette County, AL
30              Franklin County, AL
                   ...
3244          Maunabo Municipio, PR
3245         Mayaguez Municipio, PR
3246             Moca Municipio, PR
3247          Morovis Municipio, PR
3248          Naguabo Municipio, PR
3249        Naranjito Municipio, PR
3250         Orocovis Municipio, PR
3251         Patillas Municipio, PR
3252         Penuelas Municipio, PR
3253            Ponce Municipio, PR
3254     Quebradillas Municipio, PR
3255           Rincon Municipio, PR
3256       Rio Grande Municipio, PR
3257    Sabana Grande Municipio, PR
3258          Salinas Municipio, PR
3259       San German Municipio, PR
3260         San Juan Municipio, PR
3261      San Lorenzo Municipio, PR
3262    San Sebastian Municipio, PR
3263     Santa Isabel Municipio, PR
3264         Toa Alta Municipio, PR
3265         Toa Baja Municipio, PR
3266    Trujillo Alto Municipio, PR
3267           Utuado Municipio, PR
3268        Vega Alta Municipio, PR
3269        Vega Baja Municipio, PR
3270          Vieques Municipio, PR
3271         Villalba Municipio, PR
3272          Yabucoa Municipio, PR
3273            Yauco Municipio, PR
Name: Area_name, Length: 3273, dtype: object

In [17]:
unemployment_pd["Area_name"].str.slice(0,-4)

0                           Ala
1                Autauga County
2                Baldwin County
3                Barbour County
4                   Bibb County
5                 Blount County
6                Bullock County
7                 Butler County
8                Calhoun County
9               Chambers County
10              Cherokee County
11               Chilton County
12               Choctaw County
13                Clarke County
14                  Clay County
15              Cleburne County
16                Coffee County
17               Colbert County
18               Conecuh County
19                 Coosa County
20             Covington County
21              Crenshaw County
22               Cullman County
23                  Dale County
24                Dallas County
25                DeKalb County
26                Elmore County
27              Escambia County
28                Etowah County
29               Fayette County
                 ...
3244          Maunabo Municipio
3245         Mayaguez Municipio
3246             Moca Municipio
3247          Morovis Municipio
3248          Naguabo Municipio
3249        Naranjito Municipio
3250         Orocovis Municipio
3251         Patillas Municipio
3252         Penuelas Municipio
3253            Ponce Municipio
3254     Quebradillas Municipio
3255           Rincon Municipio
3256       Rio Grande Municipio
3257    Sabana Grande Municipio
3258          Salinas Municipio
3259       San German Municipio
3260         San Juan Municipio
3261      San Lorenzo Municipio
3262    San Sebastian Municipio
3263     Santa Isabel Municipio
3264         Toa Alta Municipio
3265         Toa Baja Municipio
3266    Trujillo Alto Municipio
3267           Utuado Municipio
3268        Vega Alta Municipio
3269        Vega Baja Municipio
3270          Vieques Municipio
3271         Villalba Municipio
3272          Yabucoa Municipio
3273            Yauco Municipio
Name: Area_name, Length: 3274, dtype: object